


.home{
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items:  left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}
.headercontainer{
    width:auto;
    margin-left:30px;
}
 h1{
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size: 70px;
    
}

p{
    
    font-weight:bold;
    font-family: 'Merriweather', serif;
    color: #292524;
    font-size: 40px;
}

button{
    color:tomato;
    background-color: #292524;
    border-radius: 5px;
    height: 50px;
    width: 180px;
    cursor: pointer;
    font-size: 20px;
}
 button:hover{
    background-color: #4b5563;
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .home{
        justify-content: center;
        align-items: center;
    }
    .headercontainer{
        margin-left:0;
        border-radius: 10px;
        width:80%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #121619 ;
        color: cadetblue;
    }
    h1{
        font-size: 40px;
        height: 30px;
        margin:15px 0px;
        color:rgb(7, 122, 223); 
    }
 button{
    margin-bottom: 8px;
 }
p {
    color: rgb(237, 230, 243);
    margin-left: 5px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}


}
   