@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Prata', serif;
}
.mobile-navigation{
  list-style: none;
  } 
  .mobile-navigation li{
    margin-top: 20px;
    }
    .mobile-navigation a{
      text-decoration: none;
      font-size: 1.4rem;
      color: black;
    }